{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Main Page{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                {% block sidebar %}
                <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
                        <ul class="nav nav-pills flex-column mb-auto">
                            <li class="nav-item" >
                            {% if user.is_authenticated %}
                                     <li>Пользователь: {{ user.get_username }}</li>
                                     <li><a href="{% url 'logout'%}?next={{request.path}}">Выйти </a></li>
                            </li>
                            <hr>
                            <li class="nav-item">
                                <a href="{% url 'home_page' %}" class="nav-link text-white" aria-current="page">
                                    Главная
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'employees' %}" class="nav-link text-white">
                                    Список сотрудников
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'positions' %}" class="nav-link text-white">
                                    Справочник должностей
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'departments' %}" class="nav-link text-white">
                                    Справочник отделов
                                </a>
                            </li>
                            {% else %}
                                <li><a href="{% url 'login'%}?next={{request.path}}">Войти</a></li>
                                <li><a href="{% url 'register'%}?next={{request.path}}">Зарегистрироваться</a></li>
                            {% endif %}
                        </ul>
                </div>
            {% endblock %}
          </div>
          <div class="col-sm-10 ">
          {% block content %}{% endblock %}
          </div>
      </div>
  </div>
</body>
</html>
