{% extends "base_template.html" %}

{% block title %} Список сотрудников {% endblock %}

{% block content %}
<h1>Список сотрудников</h1>
<a href="{% url 'add_employee' %}">Создание сотрудника</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ФИО</th>
            <th scope="col">Должность</th>
            <th scope="col">Отдел</th>
            <th scope="col">Начал работать</th>
            <th scope="col">Лет работает</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employee_list %}
                <tr>
                    <th scope="row"><a href="{% url 'employees_detail' employee.fio %}">{{ employee.fio }}</a></th>
                    <td>{{ employee.position }}</td>
                    <td>{{ employee.department }}</td>
                    <td>{{ employee.first_day }}</td>
                    <td>{{ employee.worked_time }}</td>
                </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}